/*********
** Layout
*********/
html {
    background: url("/images/background.png") #db8053;
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    width: 100%;
    position: absolute;
}

#header, #content, #footer {
    max-width: 90em;
    background: #ffd789;
    padding: .75em;
}

#header, #content, #footer {
    position: relative;
    border-radius: 10px;
    border: 22px solid transparent;
    -webkit-border-image: url("/images/borders.png") 20;
    -o-border-image: url("/images/borders.png") 20;
    border-image: url("/images/borders.png") 20;
    border-image-width: 36px;
    margin: 2em auto 0 auto;
}

#header img.logo {
    display: inline-block;
    max-width: 50%;
    padding-right: 1em;
    border: 0;
}

#header img.repolink {
    position: absolute;
    top: -11px;
    right: -11px;
    border: 0;
}

#header ul {
    display: inline-block;
}

#footer {
    font-style: italic;
    margin: 2em auto;
}

/*********
** Table of contents
*********/
#toc {
    display: table;
    margin-top: 1em;
    padding: 1em 1.5em 1em .5em;
    border: 1px solid #96473a;
    background: #f9b163;
}

#toc ul {
    margin: 0;
    padding-left: 1em;
    list-style-position: inside;
}

#toc li,
#toc li a {
    color: #5b3514;
}

/*********
** Common page elements
*********/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style-image: url("/images/bullet.png");
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    border-bottom: 1px solid #96473a;
}

li > p {
    margin: 0;
}

/**********
** Table **
**********/
table {
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  margin: 12px 0;
  border-spacing: 0;
  border-collapse: unset;
}
table { 
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #96473a;
}
table th,
table td {
  font-weight: normal;
  font-size: 13px;
  padding: 6px 13px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}
table thead th {
  font-size: 14px;
  font-weight: bold;
  background-color: #db8053;
  vertical-align: bottom;
} 
table tbody > tr:nth-child(even) > td,
table tbody > tr:nth-child(even) > th { 
  border-top: 1px solid #96473a;
  background-color: #eca456;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  border-top: 1px solid #96473a;
  background-color: #f9b163;
}
table tbody > tr > td:not(:first-child) {
  font-size: 14px;
}
/**********
** Table **
**********/

blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #96473a;
}

pre, code {
    background: #151915;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
}

pre.highlight, code {
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
}

code {
    display: inline;
    padding: 2px 4px 2px;
    overflow-x: auto;
    line-height: 17px;
    color: #aed581;
}

pre.highlight code {
    display: block;
    padding: 15px 16px 14px;
    overflow-x: auto;
    line-height: 19px;
    color: #aed581;
}

/*********
** Main page
*********/
body[data-section="main-page"] .playerbox,
body[data-section="main-page"] .devbox {
    float: left;
    width: 16em;
    margin-right: 0.5em;
}

body[data-section="main-page"] .playerbox .container,
body[data-section="main-page"] .devbox .container {
    padding: 0.25em;
    margin: -0.5em 0;
}

body[data-section="main-page"] h3 {
    line-height: 0.5em;
}

/*********
** Article styles
*********/
p.warning {
    display:inline-block;
    padding:0.5em;
    border:1px solid #96473a;
    border-left:8px solid red;
}