/*********
** Layout
*********/
html {
    background: url('/images/background.png') #db8053;
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    width: 100%;
    position: absolute;
}

#header, #content, #footer {
    max-width: 90em;
    background: #ffd789;
    padding: .75em;
}

#header, #content, #footer {
    position: relative;
    border-radius: 10px;
    border: 22px solid transparent;
    -webkit-border-image: url('/images/borders.png') 20;
    -o-border-image: url('/images/borders.png') 20;
    border-image: url('/images/borders.png') 20;
    border-image-width: 36px;
    margin: 2em auto 0 auto;
}

#header img.logo {
    display: inline-block;
    max-width: 50%;
    padding-right: 1em;
    border: 0;
}

#header img.repolink {
    position: absolute;
    top: -11px;
    right: -11px;
    border: 0;
}

#header ul {
    display: inline-block;
}

#footer {
    font-style: italic;
    margin: 2em auto;
}

/*********
** Table of contents
*********/
#toc {
    display: table;
    margin-top: 1em;
    padding: 1em 1.5em 1em .5em;
    border: 1px solid #96473a;
    background: #f9b163;
}

#toc ul {
    margin: 0;
    padding-left: 1em;
    list-style-position: inside;
}

/*********
** Common page elements
*********/
a {
    text-decoration: none;
    color: #dd34bb;
}
a:hover {
    text-decoration: underline;
}

ul li {
    list-style-image: url('/images/bullet.png');
    color: #5b3514;
}
ul li a {
    color: #5b2b2a;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    border-bottom: 1px solid #96473a;
}

li > p {
    margin: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table tr {
    background-color: #f9b163;
}

table tr:nth-child(2n) {
    background-color: #db8053;
}

table th {
    font-weight: bold;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #96473a;
}

blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #96473a;
}

pre {
    background: #151915;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
}

pre.highlight {
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
}

pre.highlight code {
    display: block;
    padding: 15px 16px 14px;
    overflow-x: auto;
    line-height: 19px;
    color: #aed581;
}

/*********
** Main page
*********/
body[data-section="main-page"] .playerbox,
body[data-section="main-page"] .devbox {
    float: left;
    width: 16em;
    margin-right: 0.5em;
}

body[data-section="main-page"] .playerbox .container,
body[data-section="main-page"] .devbox .container {
    padding: 0.25em;
    margin: -0.5em 0;
}

body[data-section="main-page"] h3 {
    line-height: 0.5em;
}

/*********
** Article styles
*********/
p.warning {
    display:inline-block;
    padding:0.5em;
    border:1px solid orange;
    border-left:8px solid orange;
}